<div class="flex-column w-full grow sticky">
    <div class="flex-row w-full">
      <button class="grow" onclick="window.location.href='student'"> <%= t.students %> </button>
      <button class="grow" onclick="window.location.href='course'"> <%= t.courses %> </button>
      <button class="grow" onclick="window.location.href='class'"> <%= t.classes %> </button>
      <button class="grow" onclick="window.location.href='enrollment'"> <%= t.enrollments %> </button>
      <button type="button" onclick="window.location.href='/en'">
        <img style="object-fit: contain; height: 20px;" src="/images/flag-gb-svgrepo-com.svg"/>
      </button>
      <button type="button" onclick="window.location.href='/vn'">
        <img style="object-fit: contain; height: 20px;" src="/images/flag-for-flag-vietnam-svgrepo-com.svg"/>
      </button>
    </div>
</div>