<div class="flex-column w-full grow sticky">
    <div class="flex-row w-full">
      <button class="grow" onclick="window.location.href='/'">Sinh viên</button>
      <button class="grow" onclick="window.location.href='/course'">Khóa học</button>
      <button class="grow" onclick="window.location.href='/class'">Lớp học</button>
      <button class="grow" onclick="window.location.href='/enrollment'">Học phần</button>
    </div>
</div>