<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/javascripts/import-script.js" defer></script>
</head>

<body>
  <div class="flex-column m-16 gap-16">
    <div class="flex-row space-between">
      <h1>Import Students</h1>
      <button onclick="window.location.href='/'" >Quay lại</button>
    </div>

    <div class="box flex-column">
      <div class="card-body">
        <form id="importForm" class="flex-column gap-16 h-full" enctype="multipart/form-data">
          <div class="flex-column gap-8">
            <label for="fileType">Loại file</label>
            <select class="form-select" id="fileType" name="fileType" required onchange="showFormat()">
              <option value="csv">CSV</option>
              <option value="json">JSON</option>
            </select>
          </div>
          <div class="flex-column gap-8">
            <label for="file">Chọn file</label>
            <input type="file" id="file" name="file" accept=".csv,.json" required>
          </div>
          <button type="submit">Import</button>
        </form>
        <div id="message" class="message-panel mx-4 text-left"></div>

        <div id="csvFormat" class="sample-format">
          <h5>Format CSV:</h5>
          <pre class="overflow-auto"><%= csv_template%></pre>
        </div>

        <div id="jsonFormat" class="sample-format" style="display: none;">
          <h5>Format JSON:</h5>
          <pre class="overflow-auto" ><%= json_template%></pre>
        </div>
      </div>
    </div>
  </div>
</body>

</html>