<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main_container"> 
        <h1>Thông tin sinh viên</h1>
        <list>
            <li>Mã số sinh viên</li>
            <li>Họ tên</li>
            <li>Ngày sinh</li>
            <li>Giới tính</li>
            <li>Khoa</li>
            <li>Khóa</li>
            <li>Chương trình</li>
            <li>Địa chỉ</li>
            <li>Email</li>
            <li>Số điện thoại</li>
            <li>Tình trạng</li>
        </list>    
    </div>
</body>
</html>
