:root {
  --light_grey: #ddd;
  --grey: #f0f0f0;
  --white: #fff;
  --dark_grey: #333;
  --light_orange: #fcb69c;
  --orange: #e78d16;
  --red: #f44336;
  --dark_yellow: #9aa31d;
  --green: #04AA6D;
  --light_green: #b6efda;


  --table_header: var(--green);
  --hover: var(--light_orange);
  --active: var(--orange);
  --table_row: var(--white);
  --table_row_alt: var(--grey);
  --toolbar-height: 108px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--toolbar-height);
  z-index: 10;
}

.toolbar-fill-empty{
  height: var(--toolbar-height);
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 0px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.flex-row-item {
  flex-grow: 1;
}

.flex-column-item {
  flex-grow: 1;
}

.save-button {
  background-color: var(--green);
  padding: 8px 32px;
}

.cancel-button {
  background-color: var(--orange);
  padding: 8px 32px;
}

.clear_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input {
  border: 1px solid var(--light_grey);
  border-radius: 0;
  align-self: stretch;
  margin: 0;
  padding: 8px;
  font-size: inherit;
}

select {
  border: 1px solid var(--light_grey);
  border-radius: 0;
  align-self: stretch;
  margin: 0;
  padding: 8px;
  font-size: inherit;
  padding: 8px 16px;
}

button {
  border: none;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  align-self: stretch;
  font-weight: bold;
  font-size: inherit;
  padding: 8px 16px;
}

.button {
  border: none;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  align-self: stretch;
  font-weight: bold;
  font-size: inherit;
  display: flex;
  align-items: center;
}


li {
  list-style-type: none;
}

.main_container {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}

table {
  border-collapse: collapse;
} 

th, td {
  text-align: left;
  padding: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

th {
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
  position: sticky;
  top: var(--toolbar-height);
}

tr:nth-child(even) {
  background-color: var(--table_row_alt);
}

tr:nth-child(odd) {
  background-color: var(--table_row);
}

.add {
  display: none;
}

.edit {
  display: none;
}

.active {
  background-color: var(--active);
}

.reload-button {
  display: none;
}

.message-panel {
  padding: 8px;
  text-align: center;
  min-height: 36px;
}

.editable-row{
  position: sticky;
  top: 116px;
}

.error{
  color: var(--red);
  font-weight: bold;
}

.success{
  color: var(--green);
  font-weight: bold;
}

.warning{
  color: var(--dark_yellow);
  font-weight: bold;
}

.info{
  color: var(--dark_grey);
  font-weight: bold;
}

.student-row:hover {
  background-color: var(--light_green);
}

.student-row .selected {
  background-color: var(--light_green);
}

.bg-light {
  background-color: var(--light_grey);
}

.remove {
  display: none;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.empty-table{
  text-align: center;
  padding: 16px;
  font-weight: bold;
}

.more-search-options-button{
  background-color: var(--grey);
  padding: 4px 8px;
}

.search-label{
  text-align: center;
  padding-left: 16px;
  padding-right: 2px;
}

.field-hint{
  font-size: 12px;
  color: var(--dark_grey);
  padding: 2px 8px;
}

.address-dialog-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.address-dialog-header{
  color: var(--green);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  grid-column: 1 / span 2;
}

.address-dialog-submit-button{
  grid-column: 1 / span 2;
}

.address-edit-button{
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  font-size: inherit;
  padding: 8px 6px;
}

.flex-row-space-between{
  justify-content: space-between;
  align-items: center;
}

.flex-column-space-between{
  justify-content: space-between;
  align-items: center;
}

.flex-row-right{
  justify-content: flex-end;
  align-items: center;
}

.identity-card-dialog-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.identity-card-dialog-header {
  color: var(--green);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  grid-column: 1 / span 2;
}

.identity-card-dialog-submit-button {
  grid-column: 1 / span 2;
}


.passport-dialog-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.passport-dialog-header {
  color: var(--green);
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  grid-column: 1 / span 2;
}

.passport-dialog-submit-button {
  grid-column: 1 / span 2;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

.gap-16 {
  gap: 16px;
}

.more-info:hover {
  cursor: pointer;
}

.center-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-top-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box {
  border: 1px solid var(--light_grey);
  padding: 8px;
}


.delete-button {
  background-color: #dc3545;
  color: white;
}
.delete-button:hover {
  background-color: #a71d2a;
}
.add-button {
  background-color: #28a745;
  color: white;
}
.add-button:hover {
  background-color: #1d6f32;
}


h2 {
  font-weight: bold;
  font-size: 16px;
  padding: 0px;
  margin: 2px 0px 8px 8px;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  margin: 2px 0px 8px 8px;
}

.m-16{
  margin: 16px;
}