:root {
  --light_grey: #ddd;
  --grey: #f2f2f2;
  --white: #fff;
  --light_orange: #fcb69c;
  --orange: rgb(238, 120, 10);
  --green: #04AA6D;

  --table_header: var(--green);
  --hover: var(--light_orange);
  --active: var(--orange);
  --table_row: var(--white);
  --table_row_alt: var(--grey);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

nav {
  position: sticky;
  top: 0;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1px;
  margin: 1px;
}

.flex-row-item {
  flex-grow: 1;
}

.save-button {
  background-color: var(--green);
  padding: 8px 32px;
}

.cancel-button {
  background-color: var(--orange);
  padding: 8px 32px;
}

.clear_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input {
  border: 1px solid var(--light_grey);
  border-radius: 0;
  align-self: stretch;
  margin: 0;
  padding: 8px;
  font-size: inherit;
}

select {
  border: 1px solid var(--light_grey);
  border-radius: 0;
  align-self: stretch;
  margin: 0;
  padding: 8px;
  font-size: inherit;
}

button {
  border: none;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  align-self: stretch;
  font-weight: bold;
  font-size: inherit;
}

li {
  list-style-type: none;
}

.main_container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--table_row_alt);
}

.add {
  display: none;
}