:root {
  --grey_50: #eeeeee;
  --grey_100: #efefef;
  --grey_700: #636363;
  --orange_200: #ff9914;
  --orange_400: #e78d16;
  --orange_300: #f3961c;
  --red_300: #f44336;
  --yellow_600: #c7c95a;
  --green_500: #04AA6D;
  --green_50: #b6efda;
  --green_600: #1a9668;

  --toolbar-height: 124px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  margin: 0;
  padding: 0;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--toolbar-height);
  z-index: 10;
}

.toolbar-fill-empty{
  height: var(--toolbar-height);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grow{
  flex-grow: 1
}

.save-button {
  background-color: var(--green_500);
  padding: 8px 32px;
}

.cancel-button {
  background-color: var(--orange_400);
  padding: 8px 32px;
}

.cancel-button:hover{
  background-color: var(--orange_300);
}

.clear_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input {
  border: 1px solid var(--grey_50);
  border-radius: 0;
  align-self: stretch;
  margin: 0;
  padding: 8px;
}

select {
  border: 1px solid var(--grey_50);
  border-radius: 0;
  align-self: stretch;
  margin: 0;
  padding: 8px;
  padding: 8px 16px;
}

button {
  border: none;
  background-color: var(--green_500);
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: x-small;
  padding: 4px 8px;
}

button:hover{
  background-color: var(--green_600);
}

.main_container {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}

table {
  border-collapse: collapse;
} 

th, td {
  text-align: left;
  padding: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

th {
  background-color: var(--green_500);
  color: white;
  font-weight: bold;
  position: sticky;
  top: var(--toolbar-height);
}

tr:nth-child(even) {
  background-color: var(--grey_50);
}

tr:nth-child(odd) {
  background-color: white;
}

.add {
  display: none;
}

.edit {
  display: none;
}

.active {
  background-color: var(--orange_400);
}

.active:hover {
  background-color: var(--orange_300);
}

.reload-button {
  display: none;
}

.message-panel {
  padding: 4px 8px;
  text-align: center;
  min-height: 24px;
}

.editable-row{
  position: sticky;
  top: 116px;
}

.error{
  font-weight: bold;
  color: #721c24;
  padding: 2px 4px;
}

.success{
  font-weight: bold;
  color: #155724;
  padding: 2px 4px
}

.warning{
  color: var(--yellow_600);
  font-weight: bold;
  padding: 2px 4px
}

.info{
  color: var(--grey_700);
  font-weight: bold;
}

.student-row:hover {
  background-color: var(--green_50);
}

.student-row .selected {
  background-color: var(--green_50);
}

.bg-light {
  background-color: var(--grey_50);
}

.remove {
  display: none;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.empty-table{
  text-align: center;
  padding: 16px;
  font-weight: bold;
}

.more-search-options-button{
  background-color: var(--grey_100);
  padding: 4px 8px;
}

.search-label{
  text-align: center;
  padding-left: 16px;
  padding-right: 2px;
}

.field-hint{
  font-size: x-small;
  color: var(--grey_700);
  padding: 2px 8px;
}

.address-dialog-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.address-dialog-header{
  color: var(--green_500);
  font-weight: bold;
  text-align: center;
  font-size: small;
  grid-column: 1 / span 2;
}

.address-dialog-submit-button{
  grid-column: 1 / span 2;
}

.address-edit-button{
  background-color: var(--green_500);
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 6px;
}

.space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-right{
  justify-content: flex-end;
}

.identity-card-dialog-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.identity-card-dialog-header {
  color: var(--green_500);
  font-weight: bold;
  text-align: center;
  font-size: small;
  grid-column: 1 / span 2;
}

.identity-card-dialog-submit-button {
  grid-column: 1 / span 2;
}

.passport-dialog-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 28px;
}

.passport-dialog-header {
  color: var(--green_500);
  font-weight: bold;
  text-align: center;
  font-size: small;
  grid-column: 1 / span 2;
}

.passport-dialog-submit-button {
  grid-column: 1 / span 2;
}

.gap-8 {
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}

.gap-16 {
  gap: 16px;
}

.more-info{
  margin: 0px 8px;
}

.more-info:hover {
  cursor: pointer;
}

.center-title {
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.align-left {
  align-items: flex-start;
}

.box {
  border: 1px solid var(--grey_50);
  padding: 8px;
} 

.delete-button {
  background-color: #dc3545;
  color: white;
  padding: 0px 16px;
}
.delete-button:hover {
  background-color: #a71d2a;
}
.add-button {
  background-color: #28a745;
  color: white;
  padding: 0px 16px;
}
.add-button:hover {
  background-color: #1d6f32;
}


h2 {
  font-weight: bold;
  font-size: small;
  padding: 0px;
  margin: 2px 0px 8px 8px;
}

h1 {
  font-weight: bold;
  font-size: medium;
  padding: 0px;
  margin: 2px 0px 8px 8px;
}

.mt-4{
  margin-top: 4px;
}

.mt-8{
  margin-top: 8px;
}

.mx-4{
  margin-top: 4px;
  margin-bottom: 4px;
}

.mx-8{
  margin-top: 8px;
  margin-bottom: 8px;
}

.m-16{
  margin: 16px;
}

.m-8{
  margin: 8px;
}

.m-4{
  margin: 4px;
}

.scrollable {
  overflow-y: auto;
  height: 300px;
  max-height: 300px;
}

.overflow-auto {
  overflow: auto;
}

.sample-format {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
  font-family: monospace;
}